@media (min-width: 421px) {
}

@media (min-width: 481px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1025px) {
    .link-moore:hover {
        color: var(--color-accent);
    }
    .link-moore:hover .link-moore__icon-wrapper {
        transform: translateX(.4rem);
    }
    .main:before {
        background: url(../images/bg-img-1.png) center top no-repeat;
        background-size: 100% auto;
        width: 56.25%;
        padding-bottom: 28.958333333%;
        content: '';
        position: absolute;
        top: 0;
        right: 19.4rem;
        z-index: -1;
    }
    .main:after {
        background: var(--color-white);
        width: 16.4rem;
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        transition: all 1.4s;
        transition-property: transform;
        transform-origin: right top;
        pointer-events: none;
    }
    .main:not(.is-show-first):after {
        transform: scaleX(.5731707317);
    }
    .main.is-show-three:after {
        transition-duration: 1s;
        transform: translateX(-110vw);
    }
    .services.is-show-first {
        transform: translateX(16.6rem);
    }
    .services.is-show-first .services__list-card {
        width: 18.0rem;
    }
    .services.is-show-second .services__list-card {
        width: 33.3333333333%;
    }
    .services.is-show-first .services-card:nth-child(1) .services-card__title {
        transition-delay: 1.5s;
    }
    .services.is-show-first .services-card:nth-child(2) .services-card__title {
        transition-delay: 2s;
    }
    .services.is-show-first .services-card:nth-child(3) .services-card__title {
        transition-delay: 2.5s;
    }
    .about__footer {
        padding: 1.2rem 6.4rem;
        margin-right: 5.0rem;
        display: flex;
        align-items: center;
        font-weight: 300;
        font-size: var(--font-title-size-6);
        color: var(--color-white);
        border-top-right-radius: 2.4rem;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 0;
    }
    .about__footer:before {
        background: var(--color-white);
        width: 57.009345794%;
        content: '';
        border-top-right-radius: inherit;
        position: absolute;
        top: -1.6rem;
        bottom: 0;
        left: 0;
        z-index: -2;
    }
    .about__footer:after {
        background: var(--color-dark);
        width: 100%;
        height: 100%;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        border-top-right-radius: inherit;
        z-index: -1;
    }
    .about__footer-text {
        margin-right: 4.0rem;
        text-transform: uppercase;
    }
    .wallet__footer {
        margin-top: auto;
    }
    .wallet__footer-powered {
        text-align: center;
    }
    .wallet__footer-powered__icon {
        width: 4.2rem;
        height: 4.2rem;
        margin: 0 0 .8rem;
        display: inline-block;
        vertical-align: top;
    }
    .wallet__footer-powered__title {
        margin: 0;
        font-weight: 300;
        font-size: 1.6rem;
    }
    .about__powered,
    .services__powered,
    .wallet__powered {
        display: none;
    }
}

@media (min-width: 1200px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 1024px) {
    :root {
        --font-size-default: 1.4rem;
    }
    html {
        font-size: 10px;
    }
    .link-moore__icon-wrapper {
        max-width: 5.4rem;
        height: 2.2rem;
        flex: 0 0 5.4rem;
    }
    .link-moore__icon {
        width: 7.4rem;
        margin-left: -2rem;
    }
    .main {
        height: 100vh;
        display: flex;
        overflow: hidden;
    }
    .main__slide {
        width: 100vw;
        height: 100%;
        padding-top: 2.4rem;
        flex: 0 0 100vw;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
    }
    .about__inner {
        flex-direction: column;
    }
    .about__content {
        max-width: 100%;
        padding: 5rem 3.2rem 3.2rem;
        flex: 0 0 100%;
    }
    .about__content-inner {
        width: 100%;
    }
    .about__content-title {
        max-width: 100%;
    }
    .about__content-subtitle {
        margin-bottom: 0;
        font-size: 5.5vw;
    }
    .about__content-subtitle span {
        display: block;
    }
    .about__description {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 3.2rem 3.2rem 0;
        flex-grow: initial;
    }
    .about__description-text {
        margin-bottom: 3.2rem;
        font-weight: 300;
    }
    .about__footer,
    .wallet__footer-powered {
        display: none;
    }
    .footer-powered {
        width: 100%;
        max-width: 100%;
        margin: auto 0 0;
        padding: 4rem 3.2rem 3.2rem;
        text-align: center;
    }
    .footer-powered__icon {
        width: 3.4rem;
        height: 3.4rem;
        margin: 0 0 1rem;
        display: inline-block;
        vertical-align: top;
    }
    .footer-powered__title {
        margin: 0;
        font-weight: 300;
        font-size: 1.2rem;
    }
    .services {
        left: 0;
        transform: translateX(100vw);
    }
    .services.is-show-first {
        transform: translateX(-100vw);
    }
    .services__inner {
        flex-direction: column;
    }
    .services__list {
        max-width: initial;
        width: 100%;
        height: initial;
        flex-direction: column;
        flex-basis: initial;
    }
    .services__list-card {
        width: 100%;
        height: initial;
        position: static;
    }
    .services-card {
        padding: 1.8rem 3.2rem;
    }
    .services-card--theme-accent {
        background: linear-gradient(-90deg, var(--color-accent-light) 4.42%, var(--color-accent) 98.24%), var(--color-accent);
    }
    .services-card__title {
        width: 100%;
        max-width: 100%;
        margin: 0;
        font-size: 20px;
        transform: none;
        position: static;
    }
    .services.is-show-first .services-card .services-card__title {
        transition-delay: 1.64s;
    }
    .services-card__inner {
        width: 100%;
        max-width: 100%;
        height: initial;
        margin: 0;
        padding: 0;
        display: block;
        transition-property: transform, opacity, visibility;
    }
    .services.is-show-second .services-card__inner,
    .services.is-show-second .services__description {
        transition-delay: .74s;
    }
    .services-card__content {
        height: 0;
        margin: 0;
        font-weight: 300;
        font-size: 18px;
        line-height: 1;
        transition: all .4s;
        overflow: hidden;
    }
    .services.is-show-second .services-card__content {
        height: 2em;
        margin-top: 1.2rem;
    }
    .services__description {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 3rem 3.2rem;
        flex-grow: initial;
    }
    .services__description-text {
        margin-bottom: 6.4rem;
    }
    .wallet.is-show {
        transform: translateX(-200vw);
    }
    .wallet__inner {
        padding: 0;
    }
    .wallet__footer-subtitle {
        margin-bottom: 0;
    }
    .services:not(.is-show-second) .services-card__inner {
        transform: translateY(10px);
    }
    .wallet__action {
        padding-top: 7rem;
        justify-content: center;
        flex-grow: 1;
    }
    .wallet__footer-logo {
        margin-bottom: .5rem;
    }
}

@media (max-width: 767px) {
    .btn {
        min-height: 4rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .services-card {
        font-size: 3.8vw;
    }
    .about__description-text {
        line-height: 1;
    }
    .about__content-subtitle {
        font-size: 5vw;
    }
    .services-card__title {
        font-size: 16px;
    }
    .services-card__content {
        font-size: 14px;
    }
    .services__description-text {
        margin-bottom: 3.2rem;
    }
    .wallet__inner {
        max-width: 70vw;
        margin-right: auto;
        margin-left: auto;
    }
    .wallet__footer-subtitle {
        margin-right: -3vw;
        margin-left: -3vw;
        font-size: 3.1vw;
    }
}

@media (max-width: 575.98px) {
}

@media (max-width: 480px) {
    .services.is-show-second .services-card__content {
        height: 3em;
    }
}

@media (max-width: 420px) {
}