:root {
    --color-white: #fff;
    --color-dark: #29292E;
    --color-gray: #4D4E58;
    --color-accent: #0ACE88;
    --color-accent-light: #00C4B8;

    --font-size-default: 22px;
    --font-family-default: 'Kulim Park', sans-serif;
    --font-title-size-1: 62px;
    --font-title-size-2: 30px;
    --font-title-size-3: 22px;
    --font-title-size-4: 19px;
    --font-title-size-5: 18px;
    --font-title-size-6: 16px;

    --gap: 15px;
}

/* fonts
=====================*/

@font-face {
    font-family: 'Kulim Park';
    src: url('../fonts/KulimPark-Regular.eot');
    src: url('../fonts/KulimPark-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KulimPark-Regular.woff2') format('woff2'),
         url('../fonts/KulimPark-Regular.woff') format('woff'),
         url('../fonts/KulimPark-Regular.ttf') format('truetype'),
         url('../fonts/KulimPark-Regular.svg#KulimPark-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kulim Park';
    src: url('../fonts/KulimPark-Light.eot');
    src: url('../fonts/KulimPark-Light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KulimPark-Light.woff2') format('woff2'),
         url('../fonts/KulimPark-Light.woff') format('woff'),
         url('../fonts/KulimPark-Light.ttf') format('truetype'),
         url('../fonts/KulimPark-Light.svg#KulimPark-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Kulim Park';
    src: url('../fonts/KulimPark-Bold.eot');
    src: url('../fonts/KulimPark-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/KulimPark-Bold.woff2') format('woff2'),
         url('../fonts/KulimPark-Bold.woff') format('woff'),
         url('../fonts/KulimPark-Bold.ttf') format('truetype'),
         url('../fonts/KulimPark-Bold.svg#KulimPark-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/* normalize
=====================*/

*,*:before,*:after{-webkit-box-sizing: border-box;box-sizing: border-box}
html{-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:bold}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:0.1rem dotted buttontext}fieldset{padding:.35em .75em .625em}legend{-webkit-box-sizing:border-box;box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

/* basic
=====================*/

html,
body {
    height: 100%;
}

html {
    font-size: 10px;
}

body {
    background: var(--color-dark);
    font-style: normal;
    font-weight: normal;
    font-size: var(--font-size-default);
    line-height: 1.3;
    font-family: var(--font-family-default);
    color: var(--color-white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

input,
button,
select,
textarea,
.btn {
    font-weight: normal;
    font-family: var(--font-family-default);
}

input,
button {
    margin: 0;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
}

svg,
.icon {
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
    color: inherit;
}

picture,
time {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title,
.title-size-1
.title-size-2
.title-size-3
.title-size-4
.title-size-5 {
    font-weight: bold;
    line-height: 1.2;
}

h1,
.title-size-1 {
    font-weight: 900;
    font-size: var(--font-title-size-1);
}

h2,
.title-size-2 {
    font-size: var(--font-title-size-2);
}

h3,
.title-size-3 {
    font-size: var(--font-title-size-3);
}

h4,
.title-size-4 {
    font-size: var(--font-title-size-4);
}

h5,
.title-size-5 {
    font-size: var(--font-title-size-5);
}

h6,
.title-size-6 {
    font-size: var(--font-title-size-6);
}

/* components
=====================*/

#site {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 calc(var(--gap) * 2);
}

.title-logo {
    width: 100%;
    display: inline-block;
    transition: all .4s;
    transition-property: opacity;
}

.title-logo--size-lg {
    max-width: 744px;
}

.title-logo__text {
    position: absolute;
    left: -9999px;
}

.title-logo__img {
    width: 100%;
    height: auto;
    display: block;
}

.content {
    line-height: 1.5;
}

.content--size-md {
    font-size: var(--font-title-size-4);
    line-height: 1.74;
}

.content > :first-child {
    margin-top: 0;
}

.content > :last-child {
    margin-bottom: 0;
}

.content p {
    margin: 0 0 1.5em;
}

.link-moore {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    transition: all .4s;
    transition-property: color;
}

.link-moore:hover {
    text-decoration: none;
}

.link-moore__title {
    color: var(--color-accent);
}

.link-moore__icon {
    max-width: 80px;
    height: 24px;
    flex: 0 0 80px;
}

.text-dark {
    color: var(--color-dark);
}

.text-white {
    color: var(--color-white);
}

.text-accent {
    color: var(--color-accent);
}

.moon-rabbit {
    display: flex;
    align-items: center;
    font-weight: 300;
}

.moon-rabbit__title {
    margin-right: 17px;
}

.moon-rabbit__icon {
    width: 42px;
    height: 42px;
    flex: 0 0 42px;
}

.services-card {
    position: relative;
}

.services-card--theme-simple {
    width: 0;
}

.services-card--theme-gray {
    background: var(--color-gray);
    width: 24px;
}

.services-card--theme-accent {
    background: linear-gradient(180deg, var(--color-accent-light) 4.42%, var(--color-accent) 98.24%), var(--color-accent);
    width: 48px;
}

.services-card__title {
    margin: 0;
    font-size: var(--font-title-size-1);
    line-height: 1;
    letter-spacing: .2em;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    left: 66px;
    transform: rotate(-90deg);
    transform-origin: left top;
    transition: all .4s;
    transition-property: opacity, visibility, left;
    white-space: nowrap;
}

.services:not(.is-show-first) .services-card__title,
.services:not(.is-show-second) .services-card__inner {
    visibility: hidden;
    opacity: 0;
}

.services.is-show-first .services-card:nth-child(1) .services-card__title {
    transition-delay: 1.5s;
}

.services.is-show-first .services-card:nth-child(2) .services-card__title {
    transition-delay: 2s;
}

.services.is-show-first .services-card:nth-child(3) .services-card__title {
    transition-delay: 2.5s;
}

.services.is-show-second .services-card__title {
    left: 26px;
    transition-delay: 2s !important;
}

.services-card__inner {
    height: 100%;
    padding: 56px 32px;
    display: flex;
    align-items: flex-end;
    transition: all .4s;
    transition-property: opacity, visibility;
}

.services.is-show-second .services-card__inner {
    transition-delay: 2.1s;
}

.services-card__content {
    width: 100%;
    margin-left: 90px;
}

/* main
=====================*/

.main {
    height: 100vh;
    position: relative;
}

.main:before {
    background: url(../images/bg-img-1.png) center top no-repeat;
    background-size: 100% auto;
    width: 56.25%;
    padding-bottom: 28.958333333%;
    content: '';
    position: absolute;
    top: 0;
    right: 194px;
    z-index: -1;
}

.main:after {
    background: var(--color-white);
    width: 164px;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    transition: all 1.4s;
    transition-property: transform;
    transform-origin: right top;
    pointer-events: none;
}

.main:not(.is-show-first):after {
    transform: scaleX(.5731707317);
}

.main__slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.main__slide-inner {
    min-height: 100vh;
}

/* about
=====================*/

.about {
    position: relative;
    transition: all .8s .2s;
    z-index: 0;
}

.about.is-hide {
    opacity: 0;
    visibility: hidden;
}

.about__inner {
    min-height: 100vh;
    display: flex;
    position: relative;
}

.about__content {
    background: linear-gradient(180deg, var(--color-accent-light) 4.42%, var(--color-accent) 98.24%), var(--color-accent);
    max-width: 56.25%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 56.25%;
    border-top-left-radius: 90px;
}

.about__content-inner {
}

.about__content-title {
    margin: 0 0 16px;
}

.about__content-subtitle {
    width: 100%;
    margin: 0 0 25px;
    text-transform: uppercase;
    letter-spacing: .57em;
}

.about__description {
    margin-right: 166px;
    padding: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.about__description-text {
    margin: 0 0 56px;
}

.about__footer {
    padding: 12px 64px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: var(--font-title-size-6);
    color: var(--color-white);
    border-top-right-radius: 24px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.about__footer:before {
    background: var(--color-white);
    width: 57.009345794%;
    content: '';
    border-top-right-radius: inherit;
    position: absolute;
    top: -16px;
    bottom: 0;
    left: 0;
    z-index: -2;
}

.about__footer:after {
    background: var(--color-dark);
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-top-right-radius: inherit;
    z-index: -1;
}

.about__footer-text {
    margin-right: 40px;
    text-transform: uppercase;
}

.about__footer-powered {
}

/* services
=====================*/

.services {
    width: 100%;
    height: 100%;
    left: -166px;
    transform: translateX(100%);
    transition: all 1.5s ease;
    transition-property: transform;
}

.services.is-show-first {
    transform: translateX(166px);
}

.services__inner {
    height: 100%;
    display: flex;
    position: relative;
}

.services__list {
    max-width: 56.25%;
    height: 100%;
    display: flex;
    flex: 0 0 56.25%;
}

.services__list-card {
    transition: all 1.2s ease;
    transition-property: width, opacity, visibility;
}

.services.is-show-first .services__list-card {
    width: 180px;
}

.services.is-show-second .services__list-card {
    width: 33.3333333333%;
    transition-delay: .7s;
    transition-duration: .3s;
}

.services__description {
    margin-right: 164px;
    padding: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    transition: all .4s;
    transition-property: visibility, opacity;
}

.services:not(.is-show-second) .services__description {
    visibility: hidden;
    opacity: 0;
}

.services.is-show-second .services__description {
    transition-delay: 2.1s;
}

.services__description-text {
    margin: 0 0 122px;
}